{% extends "layout.html" %}

{% block content %}

<div class="container-fluid" id="container">
    <div class="row-fluid">
        <div class="span6">
            <div class="box">
                <div class="box-title">
                    Loads - Pending
                </div>
                <div class="box-content nopadding">
                    
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Origin City</th>
                                <th>Destination City</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for load in pending_loads %}

                                <tr>
                                    <td>{{ load.name }}</td>
                                    <td>
                                        <button type="button" onclick="location.href='{{ url_for('load.edit', load_id=load.id)}}'" class="btn btn-info">Edit</button>
                                        <button type="button" onclick="location.href='{{ url_for('load.delete', load_id=load.id)}}'" class="btn btn-danger">Delete</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="span6">
            <div class="box">
                <div class="box-title">
                    Loads - Assigned
                </div>
                <div class="box-content nopadding">
                    
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Origin City</th>
                                <th>Destination City</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for load in assigned_loads %}
                                
                                <tr>
                                    <td>{{ load.name }}</td>
                                 
                                    <td>
                                        <button type="button" onclick="location.href='{{ url_for('load.edit', load_id=load.id)}}'" class="btn btn-info">Edit</button>
                                        <button type="button" onclick="location.href='{{ url_for('load.delete', load_id=load.id)}}'" class="btn btn-danger">Delete</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

            {% endblock %}